<!DOCTYPE html>
<html>

<head>
    <title>Simple example</title>
    <script type='text/javascript' src='http://cdnjs.cloudflare.com/ajax/libs/fabric.js/1.4.0/fabric.min.js'></script>
    <style type='text/css'>
        #sheet {
            border: 1px solid black;
        }
    </style>
</head>

<body>
    <h1>Draw the Number</h1>
    <p>Draw the number: <span id="target-number"></span></p>
    <canvas id="sheet" width="400" height="400"></canvas>
    <div id="controls">
        <button id="clear-btn">Clear</button>
        <button id="submit-btn">Submit</button>
    </div>
    <p id="response-message"></p>
    <script src="../static/js/script.js"></script>

</body>

</html>